// Color

$white: #fff;
$black: #000;
$secondary: #646465;
$dark: #1C2022;
$dkBlue: #3B4C53;
$gray: #E7E9EA;
$ltBlue: #D8E4E8;
$red: #DC3545;
$green: #28A745;
$yellow: #FFC107;
$blue: #009DDC;
$orange: #FF6A21;

// Typography

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
