- content_for :email_title do
  ManyComm Password Reset Request

- content_for :email_action_item do
  ManyComm received a request for password reset. Please use the link below to reset your password:

  %br
  %br
  = link_to(@url, @url)
  %br
  %br

  Please ignore this email if you no longer wish to reset your password.
