- content_for :email_title do
  ManyComm Account Activation

- content_for :email_action_item do
  Please use the link below to activate your ManyComm account.

  %br
  %br
  = link_to(@url, @url)
  %br
  %br

  You can ignore this email if you do not wish to activate your account.
